body {
    background-image: url(images/Untitled\ design.png);
    background-size: cover;
    text-align: center;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #5e88fc;
    font-size: 32px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

